.faqs {
    text-align: center;
    background: #f6fcff;
    padding-bottom: 15vh;
}

.faqs span{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: 700;
    font-stretch: wider;
    padding-bottom: 15vh;
}

#accordionExample {
    width: 73%;
    margin: auto;
    margin-top: 3vh
}

.accordion-item {
    border-radius: 10px;
}

.accordion-header {
    border-radius: 10px;
}

.accordion-button {
    border-radius: 10px;
}
.accordion-body {
    word-break: break-word;
}